@font-face {
  font-family: "Hanken Grotesk";
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format('truetype');
  font-weight: 500 800;
  font-display: swap;
}

:root {
  /* ============================
     Primary Colors
  ============================ */
  --clr-light-red: hsl(0, 100%, 67%);
  --clr-orangey-yellow: hsl(39, 100%, 56%);
  --clr-green-teal: hsl(166, 100%, 37%);
  --clr-cobalt-blue: hsl(234, 85%, 45%);

  /* ============================
    Necessary Colors
  ============================ */
  --clr-necessary-red: hsla(0, 100%, 67%, 0.05);
  --clr-necessary-yellow: hsla(39, 100%, 56%,
      0.05);
  --clr-necessary-teal: hsla(166, 100%, 37%,
      0.05);
  --clr-necessary-blue: hsla(234, 85%, 45%,
      0.05);

  /* ============================
     Gradients
  ============================ */
  /* Background gradient */
  --grad-light-slate-blue: hsl(252, 100%, 67%);
  --grad-light-royal-blue: hsl(241, 81%, 54%);

  /* Circle gradient */
  --grad-violet-blue: hsla(256, 72%, 46%, 1);
  --grad-persian-blue: hsla(241, 72%, 46%, 0);

  /* ============================
     Neutral Colors
  ============================ */
  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavender: hsl(241, 100%, 89%);
  --clr-dark-gray-blue: hsl(224, 30%, 27%);

  /* ============================
     Typography
  ============================ */
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  --font-size-body: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}

body {
  height: 100vh;
  font-weight: var(--font-weight-medium);
}

.container {
  height: 100%;
  background-color: var(--clr-white);
}

/* ============================
     Result Section
  ============================ */

.result {
  background: linear-gradient(var(--grad-light-slate-blue), var(--grad-light-royal-blue));
  color: var(--clr-light-lavender);
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 2rem 2rem;
}

.result h3 {
  font-size: min(var(--font-size-body), 10vw);
  font-weight: var(--font-weight-medium);
  margin-bottom: 1.5rem;
  text-align: center;
}

.result .result-score {
  height: min(9rem, 50vw);
  width: min(9rem, 50vw);
  padding: 2rem;
  margin-bottom: 1.5rem;
  font-size: min(16px, 4.5vw);
  background: linear-gradient(var(--grad-violet-blue), var(--grad-persian-blue));
  color: var(--grad-light-slate-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-score .score-number {
  font-weight: var(--font-weight-extra-bold);
  font-size: min(20vw, 55px);
  color: var(--clr-pale-blue)
}

.result .score-label {
  color: var(--clr-pale-blue);
  font-weight: var(--font-weight-bold);
  font-size: min(10vw, 24px);
  margin-bottom: 0.5rem;
}

.result .score-description {
  text-align: center;
  font-size: min(16px, 4.5vw);
  padding-bottom: 1rem;
}

/* ============================
     Summary Section
  ============================ */

.summary {
  padding: 1rem 1.5rem;
  font-size: min(18px, 5vw);
  color: var(--clr-dark-gray-blue);
}

.summary h3 {
  margin-bottom: 1.5rem;
  font-weight: var(--font-weight-bold);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.04);
}

.summary-reaction {
  background-color: var(--clr-necessary-red);
}

.summary-memory {
  background-color: var(--clr-necessary-yellow);
}

.summary-verbal {
  background-color: var(--clr-necessary-teal);
}

.summary-visual {
  background-color: var(--clr-necessary-blue);
}

.summary-title {
  display: flex;
  align-items: center;
}

.summary-title img {
  margin-right: 0.6rem;
}

.summary-reaction .summary-title {
  color: var(--clr-light-red);
}

.summary-memory .summary-title {
  color: var(--clr-orangey-yellow);
}

.summary-verbal .summary-title {
  color: var(--clr-green-teal);
}

.summary-visual .summary-title {
  color: var(--clr-cobalt-blue);
}

.summary-score {
  font-weight: var(--font-weight-bold);
  color: hsl(0, 0%, 74%);
}

.summary-score span {
  color: var(--clr-dark-gray-blue);
  margin-right: 0.4rem;
}

.continue-btn {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.5rem;
  font-size: 18px;
  color: var(--clr-white);
  border: none;
  border-radius: 2rem;
  background-color: var(--clr-dark-gray-blue);
  transition: all 0.3s;
}

.continue-btn:hover {
  background-color: var(--clr-cobalt-blue);
  /* transform: translateY(-5px); */
}

/* .continue-btn:active {
  transform: translateY(5px);
} */

@media (min-width: 769px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-pale-blue);
  }

  .container {
    height: fit-content;
    width: 640px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .result {
    padding: 1.5rem 2.6rem;
    border-radius: 1rem;
  }

  .result .score-label {
    margin-bottom: 1rem;
  }

  .summary {
    padding: 2rem;
  }
}